{% extends 'base.html' %}

{% block content %}


<main class="container my-auto py-5">
    <div class="row align-items-center g-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-dark mb-3">
                Panel de Gestión de Equipo de Trabajo
            </h1>
            <p class="col-lg-10 fs-5 text-secondary">
                Bienvenido al sistema de administración. 
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-4">
                <a href="#"
                    class="btn btn-primary btn-lg px-4 me-md-2 fw-bold shadow-sm">
                    Ver Miembros
                </a>
                <a href="#" class="btn btn-outline-secondary btn-lg px-4">
                    Añadir Miembro
                </a>
            </div>
        </div>

    
    </div>
</main>



<script src="https://cdn.jsdelivr.net/javascript/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>


{% endblock %}